@media (max-width: 768px) {
    .video {
      width: 100%;
      height: auto;
    }
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "primero "
          "segundo segundo"
          "tercero cuarto"
          "sexto"
          "quinto quinto";
    }
  }  
  @media (max-width: 480px) {
    .video {
      width: 100%;
      height: auto;
    }    
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
          "primero "
          "segundo"
          "tercero"
          "cuarto"
          "sexto"
          "quinto";
    }    
    .imagenes img {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%; 
        height: auto;  
    }
  }