@mixin espacio ($p, $m){
    padding: $p;
    margin: $m;
  }
@mixin alineacion ($d, $a, $j){
  display: $d;
  align-items: $a;
  justify-content: $j;
}
@mixin medidas ($ancho, $alto){
  width: $ancho;
  height: $alto;
}